.footer {
  font-size: 0.95rem;
  font-family: 'Merriweather', serif;

  ul {
    padding: 0;
    list-style: none;
  }

  .social-link {
    color: #ffffff;
    transition: color 0.3s ease;

    &:hover {
      color: #1abc9c;
    }
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}