<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm py-3 fixed-top">
  <div class="container">
    <a class="navbar-brand fw-bold text-uppercase" href="#">Abogados & Asociados</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav gap-3">
        <li class="nav-item">
          <a class="nav-link text-white fw-semibold"  (click)="onContactClick()">Contáctanos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fw-semibold" (click)="onAboutUsClick()">Sobre Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fw-semibold" (click)="onServicesClick()">Servicios</a>
        </li>
      </ul>
    </div>
  </div>
</nav>