<section class="hero d-flex align-items-center text-white text-center">
  <div class="container">
    <h1 class="title-banner fw-bold">ORJUELA</h1>
    <h2 class="subtitle-banner">Abogados & Asociados</h2>
    <div class="d-flex justify-content-center gap-3 mt-4">
      <a href="https://wa.me/573144278339" target="_blank" class="btn btn-success btn-lg">
        <i class="bi bi-whatsapp"></i> Escríbenos
      </a>
      <button (click)="onContactClick()" class="btn btn-dark btn-lg">
        <i class="bi bi-envelope"></i> Te contactamos
      </button>
    </div>
  </div>
</section>

